/* Header */

.header-container {
background-color: #1f2937;
height: 500;
color: #F8FaF8;
padding: 10px 5px 10px 5px;
}

.header-logo {
    font-size: 24px;
    font-weight: 700;

}

.header-top {
    display: flex;
    justify-content: space-around; 
}

.top-links {
    font-size: 18px;
    color: #E5E7EB;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    display: inline-flex;
    padding: 8px;
}

li {
    margin-left: 15px;
}


/* All above is set */

h1{
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8
}


.header-subtext{
  font-size: 18px;
  color: #E5E7EB;  
}


img{
    width: 100px;
    height: 100px;
}

.images-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding: 150px;
    margin: 20px;
    font-size: 14px;
    
}

.quote {
    background-color: #E5E7EB;

}

.text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: 100;
    color: #1F2937;

}

button {
    background-color: #3882F6;
    border-radius: 10px;
}


.footer-container {
    background-color: #3882F6;
    margin: 50px;
    color:#E5E7EB
}

footer{
    background-color: #1F2937;
    color:#E5E7EB
}