/* Header */

.header-container {
background-color: #1f2937;
height: 525px;
color: #F8FaF8;
padding: 10px 5px 10px 5px;
}

.header-logo {
    font-size: 24px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.header-top {
    display: flex;
    justify-content: space-around; 
}

.top-links {
    font-size: 18px;
    color: #E5E7EB;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    display: inline-flex;
    padding: 8px;
}

li {
    margin-left: 15px;
}


/* All above is set */

.header-main {
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
}

.header-text, .header-image-container {
    width: 400px;
    height: 300px;
    padding: 15px;
}


.header-image {
    width: 200px;
    height: auto;

}

.header-bold{
    font-size: 48px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}


.header-subtext{
  font-size: 18px;
  color: #E5E7EB;  
}

.top-button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-radius: 5px;
    width: 100px;
    height: 30px;
}

img{
    width: 100px;
    height: 100px;
}

.images-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding: 150px;
    margin: 20px;
    font-size: 14px;
    
}

.quote {
    background-color: #E5E7EB;

}

.text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: 100;
    color: #1F2937;

}

button {
    background-color: #3882F6;
    border-radius: 10px;
}


.footer-container {
    background-color: #3882F6;
    margin: 50px;
    color:#E5E7EB
}

footer{
    background-color: #1F2937;
    color:#E5E7EB
}